In [1]:
l = [10,20,30,40,50,60,70,80]

In [6]:
for items in l:
    print(items,end=' *')

10 *20 *30 *40 *50 *60 *70 *80 *

In [7]:
for i in l:
    print(i)

10
20
30
40
50
60
70
80

In [8]:
for i in l:
    print(i)
    if i == 50:
        break

10
20
30
40
50

In [10]:
for i in l:
    print(i)
    if i == 90:
        break
else:
    print("this will only execute once for loop is completed")

10
20
30
40
50
60
70
80
this will only execute once for loop is completed

In [11]:
s = '123456'
for i in s:
    print(i)

1
2
3
4
5
6

In [12]:
s = 'python'
for i in s:
    print(i)

p
y
t
h
o
n

In [13]:
d = {"key":"value","name":"abc","contact":123456}

In [14]:
d['name']

'abc'

In [15]:
for i in d:
    print(i,"=",d[i])

key = value
name = abc
contact = 123456

# range function (start:end:step)

In [17]:
range(1,11)

range(1, 11)

In [19]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [20]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [21]:
for i in range(1,25,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [27]:
l = [10,20,30,40,50,60,70,80,90,20]

In [23]:
l[2]

30

In [24]:
len(l)

8

In [25]:
for i in range(8):
    print(i,"=",l[i])

0 = 10
1 = 20
2 = 30
3 = 40
4 = 50
5 = 60
6 = 70
7 = 80

In [28]:
for i in range(len(l)):
    print(i,"=",l[i])

0 = 10
1 = 20
2 = 30
3 = 40
4 = 50
5 = 60
6 = 70
7 = 80
8 = 90
9 = 20

In [29]:
s = "learning data science"

In [32]:
for i in range(len(s)):
    print(s,[i],i)

learning data science [0] 0
learning data science [1] 1
learning data science [2] 2
learning data science [3] 3
learning data science [4] 4
learning data science [5] 5
learning data science [6] 6
learning data science [7] 7
learning data science [8] 8
learning data science [9] 9
learning data science [10] 10
learning data science [11] 11
learning data science [12] 12
learning data science [13] 13
learning data science [14] 14
learning data science [15] 15
learning data science [16] 16
learning data science [17] 17
learning data science [18] 18
learning data science [19] 19
learning data science [20] 20

In [33]:
s = int(input("Enter a number for multiplications:"))
for i in range (1,11):
    print(s,"*",i,"=",i*s)

Enter a number for multiplications:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [34]:
s = "aaaabbbbcccccdddd"

In [35]:
for i in s:
    print(i,":",s.count(i))

a : 4
a : 4
a : 4
a : 4
b : 4
b : 4
b : 4
b : 4
c : 5
c : 5
c : 5
c : 5
c : 5
d : 4
d : 4
d : 4
d : 4

In [36]:
s = "aaaabbbbcccccdddd"

In [37]:
set(s)

{'a', 'b', 'c', 'd'}

In [38]:
for i in set(s):
    print(i,":",s.count(i))

a : 4
d : 4
c : 5
b : 4

In [39]:
s = "SamPythonData"

In [41]:
for i in s:
    if i.islower()==True:
        print(i)

a
m
y
t
h
o
n
a
t
a