# Total_expense:

In [1]:
samir = [5000,6000,4500,10000]
tejas = [1200,4500,6000,8000]
shweta = [10000,40000,5800,1000]

# only can use single name expense

In [2]:
total_expense = 0
for i in samir:
#     print(i)
#     total_expense = total expense + i
    total_expense += i
print(total_expense)

25500

In [3]:
total_expense = 0
for i in tejas:
#     print(i)
#     total_expense = total expense + i
    total_expense += i
print(total_expense)

19700

In [ ]:
# Function(defination)
# function(execution)
# function(calling)

# we can use all list name expense

In [4]:
def expense(name):
    total_expense = 0
    for i in name:
        total_expense += i
    print(total_expense)

In [5]:
expense(samir)

25500

In [6]:
expense(tejas)

19700

In [7]:
expense(shweta)

56800

In [10]:
def add(a,b,c,d):
    return a,b,c,d

In [13]:
add('sam',1,2,3)

('sam', 1, 2, 3)

In [2]:
  def add(*a):
        return a

# (*a) =  I can enter multiple information.

In [3]:
add('sam',1.2,'shweta',5,6,7,8)

('sam', 1.2, 'shweta', 5, 6, 7, 8)

def add(*arguments,**keywords arguments)

In [20]:
l = []
l

[]

In [21]:
l.append(15)
l

[15]

In [22]:
l = []
def appendd(*a):
    for i in a:
        l.append(i)
    return l

In [24]:
appendd(1,2,3,4)

[1, 2, 3, 4]

In [25]:
appendd(5,6,7,8)

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
def test(a,b,c,d,*e):
    return a,b,c,d,e

In [5]:
test(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, (5, 6, 7, 8, 9))

In [6]:
def test1(*a,b,c,d,e):
    return a,b,c,d,e

In [9]:
test1(1,b=2,c=3,d=4,e=5)

((1,), 2, 3, 4, 5)

Types of function:
1.Functions with no parameter
2.Functions with parameter
3.Functions with default parameter
4.Functions with return parameter

In [12]:
def test():
    print("this is function with no parameter")

In [13]:
test()

this is function with no parameter

In [14]:
def test1(a,b):
    print("value of a is:",a)
    print("value of a is:",b)

In [15]:
test1(1233,"samir")

value of a is: 1233
value of a is: samir

In [17]:
def test2(a=10,b="python"):
    print("value of a is:",a)
    print("value of a is:",b)
test2()

value of a is: 10
value of a is: python

In [18]:
def test1(a,b=15):
    print("value of a is :",a)
    print("value of b is :",b)
test1(1233)

value of a is : 1233
value of b is : 15

In [19]:
def test2(a=10,b="python"):
    print("value of a is :",a)
    print("value of b is :",b)
test2(144,'data science')

value of a is : 144
value of b is : data science

In [3]:
def add(a,b):
    return a,b

In [4]:
add(5,8)

(5, 8)

In [5]:
def add(a,b):
    return a+b

In [6]:
add(4,5)

9

In [8]:
def add(a,b):
    c=a+b
    return c,a,b

In [9]:
add(7,8)

(15, 7, 8)

In [10]:
def test(**info):
    return info

In [11]:
test(name="samir",skills=['python','html'])

{'name': 'samir', 'skills': ['python', 'html']}

In [12]:
def test1(*a,**info):
    return a,info

In [14]:
test1(1,2,a="python",skills='python')

((1, 2), {'a': 'python', 'skills': 'python'})

In [24]:
def test(*a):
    b = 5
    l = []
    for i in a:
        if type(i) == int:
            final = b+i
            l.append(final)
        elif type(i) == float:
            print(i)
        else:
            y = i.upper()
            print(y)
            
    print("final list is : ", l)

In [26]:
test(5,9,'ghf',4.5,4,'frt',7)

GHF
4.5
FRT
final list is :  [10, 14, 9, 12]

In [46]:
a = 10      #global variable
def add(s):
    print(s)

In [47]:
add(a)

10

In [48]:
print(a)

10

In [49]:
def add():   #local variable/will only in your functionor while calling this functions.
    ab = 45
    print(ab)

In [50]:
add()

45

In [54]:
def odd_even(n):
    if n%2 == 0:
        print("this is an even number")
    else:
        print("this is an odd number")
odd_even(5)

this is an odd number

In [55]:
odd_even(n=int(input("input a number:")))

input a number:8
this is an even number

In [56]:
a = int(input("Enter a number for factorial:"))
def fact_num(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
        print(fact)
fact_num(a)

Enter a number for factorial:5
1
2
6
24
120

# function to check prime numbers

In [ ]:
def prime_number(n)
  pass

In [2]:
n = 4
for i in range(2,n):
    x = 0
    if n%i == 0:
        x = 0
        break
    
    else:
        x = 1
if x == 1:
    print("this is a prime number")
else:
    print("Not a prime number")

Not a prime number

In [69]:
number = int(input("Enter a number to check for prime:"))
def prime_number(n):
    for i in range(2,n):
        x=0
        if n%i == 0
            x=0
            break
        else:
            x=1
    return x
final = prime_number(number)
 if final == i
    print("this is a prime number")
else:
    print("not a prime number")

SyntaxError: invalid syntax (1618811268.py, line 5)