In [1]:
l=[10,20,30,40,50,60,70,80]
l[0]

10

In [2]:
for items in l:
    print(items)

10
20
30
40
50
60
70
80

In [3]:
for i in l:
    print(i)

10
20
30
40
50
60
70
80

In [4]:
for i in l:
    print(i,end= '\n')

10
20
30
40
50
60
70
80

In [6]:
for i in l:
    print(i)
    if i==50:
        break

10
20
30
40
50

In [9]:
for i in l:
    print(i)
    if i==50:
        break
else:
    print("this will only execute once for loop is completed")

10
20
30
40
50

In [10]:
for i in l:
    print(i)
else:
    print("this will only execute once for loop is completed")

10
20
30
40
50
60
70
80
this will only execute once for loop is completed

In [11]:
s="123456"
for i in s :
    print(i)

1
2
3
4
5
6

In [12]:
d={"key":"value","name":"sam","contact":"1234567890"}

In [13]:
for i in d:
    print(d)

{'key': 'value', 'name': 'sam', 'contact': '1234567890'}
{'key': 'value', 'name': 'sam', 'contact': '1234567890'}
{'key': 'value', 'name': 'sam', 'contact': '1234567890'}

In [14]:
for i in d:
    print(i)

key
name
contact

In [15]:
d['name']

'sam'

In [16]:
d['key']

'value'

In [17]:
d['contact']

'1234567890'

In [18]:
for i in d:
    print(i,"=",d[i])

key = value
name = sam
contact = 1234567890

In [19]:
# range function (start:end:step)

In [20]:
range(1,11)

range(1, 11)

In [24]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range (11,25):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [30]:
for i in range(11,25):
    print(i,end =" ")

11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [32]:
for i in range(1,25,3):
    print(i,end =" ")

1 4 7 10 13 16 19 22

In [34]:
l=[10,20,30,40,50,60,70,80]

In [35]:
l[1]

20

In [36]:
for i in range(8):
    print(i,":",l[i])

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60
6 : 70
7 : 80

In [41]:
for i in range(7):
    print(i,":",l[i])

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60
6 : 70

In [42]:
for i in range(1,11):
    print(i*3)

3
6
9
12
15
18
21
24
27
30

In [43]:
for i in range(1,11):
    print(i,"*","3","=",i*3)

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [47]:
s=int(input("enter a number of multiplications:"))
for i in range(1,11):
    print(s,"*",i,"=",i*s)

enter a number of multiplications:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [48]:
s="aaaabbbbbcccccdddddd"
set(s)

{'a', 'b', 'c', 'd'}

In [49]:
for i in set(s):
    print(i,":",s.count(i))

b : 5
a : 4
d : 6
c : 5

In [52]:
s="aaaabbbbbcccccdddddd"
set(s)

{'a', 'b', 'c', 'd'}

In [53]:
for i in set(s):
    print(i,":",s.count(i))

b : 5
a : 4
d : 6
c : 5

In [56]:
s="SamPythonData"
for i in s:
    if i.isupper()==True:
        print(i)

S
P
D