In [2]:
def func_name():
    print("This is a function")
func_name

In [3]:
class Myclass:
    def func_name():
        print("This is a function")

In [4]:
c = Myclass()
c.func_name()

TypeError: func_name() takes 0 positional arguments but 1 was given

In [5]:
s = "  sggkk  "

In [6]:
s.swapcase()

'  SGGKK  '

In [7]:
class Myclass:
    def func_name(self):
        print("This is a function")

In [9]:
c = Myclass()
c.func_name()

This is a function

In [10]:
class info:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print("This is init function")
i = info('shweta',21)

This is init function

In [12]:
class info:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print("This is init function")
    def display(self):
        print("The name of employee is:",self.name)
        print("The age of employee is:",self.age)
i = info('shweta',21)
i.display()

This is init function
The name of employee is: shweta
The age of employee is: 21

In [13]:
class info:
    def __init__(self,name,age,contact,email):
        self.name = name
        self.age = age
        self.contact = contact
        self.email = email
        print("class is created succesfully")
    def display(self):
        print("The name of employee is:",self.name)
        print("The age of employee is:",self.age)
    def phone_email(self):
        print("The contact of employee is:",self.contact)
        print("The email of empolyee is:",self.email)
i = info('shweta',21,8080376170,"abc@gmail.com")

class is created succesfully

In [19]:
class customer_information():
    "This is class is used to get customer infomation"
    def __init__(self,name,age,contact,email):
        self.name = name
        self.age = age
        self.contact = contact
        self.email = email
        print("class is created succesfully")
    def name_age(self):
        "This function is used to get name and age"
        print("The name of employee is:",self.name)
        print("The age of employee is:",self.age)
    def phone_email(self):
        "This function is used to get contact and email"
        print("The contact of employee is:",self.contact)
        print("The email of empolyee is:",self.email)
info = customer_information('shweta',21,8080376170,"abc@gmail.com")

class is created succesfully

In [20]:
info.name_age()

The name of employee is: shweta
The age of employee is: 21

In [22]:
info.contact

8080376170

In [24]:
info.phone_email()

The contact of employee is: 8080376170
The email of empolyee is: abc@gmail.com